*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.topp{
	widows: 1348px;
	height: 122px;
	margin: 0 auto;
}
.top{
	width: 100%;
	height: 40px;
	background: #333333;
	font-size: 12px;
	color: #b0b0b0;
}
.top-inner{
	width: 1250px;
	height: 40px;
	margin: 0 auto;
	
}
.top-nav{
	width: 850px;
    height: 40px;
    float: left;
}
.top-user{
	width: 400px;
	height: 40px;
	float: right;
}
.top-nav a{
	color: #B0B0B0;
	text-align: center;
	line-height: 40px;
	border-right: 1px solid #424242;
	padding: 0px 6px 0px 3px;
}
.top-nav a:hover{
	color: white;
}
.top-nav .bnone{
	border-right: 0px;
}
.top-user .user{
	width: 250px;
	height: 40px;
	float: left;
	text-align: center;
	line-height: 40px;
}
.top-user .user .user1{
	float: left;
}
.top-user .buy{
	width: 150px;
	height: 40px;
	float: right;
	text-align: center;
	line-height: 40px;
}
.top-user .user a{
	color: #B0B0B0;
	text-align: center;
	line-height: 40px;
	border-right: 1px solid #424242;
	padding: 0px 10px 0px 10px;
}
.top-user .user a:hover{
	color: white;
}
.top-user .user .bnone{
	border-right: 0px;
}
.top-user .buy {
	text-align: center;
	line-height: 40px;
	background: url(../img/gwc.png)no-repeat 5px 5px;
}
.top-user .buy a{
	color: #B0B0B0;
	text-align: center;
	line-height: 40px;
}

.top-user .buy .buy1{
	position: relative;
	background-color: #FF6700;
	color: white;
}
.top-user .buy .buy11{
	width: 320px;
	background: white;
	position: absolute;
	top: 162px;
	right:58px;
	display: none;
	z-index: 3;
}
.top-user .buy:hover{
	background-color: white;
	color: #FF6700;
}
.top-user .buy:hover .buy11{
	display: block;
}
.top-user .buy .buy11 .buy2{
	width: 320px;
	height: 100px;
	background: white;	
}
.top-user .buy .buy11 .buy2 .tu{
	width: 60px;
	height: 60px;
	float: left;
	margin-top: 20px;
}
.top-user .buy .buy11 .buy2 .jianjie{
	width: 140px;
	height: 60px;
	color: #424242;
	text-align: center;
	line-height: 60px;
	float: left;
	margin-top: 20px;
}
.top-user .buy .buy11 .buy2 .jianjie:hover{
	color: #FF6700;
}
.top-user .buy .buy11 .buy2 .price{
	width: 120px;
	height: 60px;
	color: #424242;
	text-align: center;
	line-height: 60px;
	float: left;
	margin-top: 20px;
}
.top-user .user .user1 ul{
	width: 57px;
	height: 140px;
	background: white;
	display: none;
}
.top-user .user .user1 ul .user2{
	width: 57px;
	height: 28px;
}
.top-user .user .user1 ul .user2:hover{
	color: #FF6700;
}
.top-user .user .user1:hover ul{
	display: block;
}
.top-user .user .user1-1:hover{
	background: white;
}
.top-user .user .user1-1:hover a{
	
	color: #FF6700;
}
.top-user .buy .buy11 .buy2 .hj{
	width: 150px;
	height: 60px;
	float: left;
}
.top-user .buy .buy11 .buy2 .js{
	width: 170px;
	height: 60px;
	float: right;
	
}
.top-user .buy .buy11 .buy2 .js button{
	width: 130px;
	height: 40px;
	border: none;
	background-color: #FF6700;
	color: white;
	margin-top: 10px;
}
.top-user .buy .buy11 .buy2 .hj .slhj{
	width: 150px;
	height: 30px;
	color: #9D9D9D;
}
.top-user .buy .buy11 .buy2 .hj .jghj{
	width: 150px;
	height: 70px;
	color: #FF6700;
	font-size: 20px;
	margin-top: -10px;
	text-indent: 30px;
}
.head{
	width: 1230px;
	height: 96px;
	margin: 0 auto;
}
.head .log{
	width: 112px;
	height: 96px;
	float: left;
}
.head .log .log1{
	width: 56px;
	height: 56px;
	margin-top: 20px;
	background: url(../img/log1.png);
}
.head .log .log1:hover{
	background: url(../img/log2.png);
}

.head .zi{
	width: 800px;
	height: 96px;
	float: left;
}
.head .zi1 .zi11{
	float: left;
	text-align: center;
	line-height: 96px;
	padding: 0px 6px 0px 6px;
}
.head .zi1 .zi11-1{
	position: relative;
}
.head .zi .zi1 .zi111{
	width: 225px;
	height: 460px;
	position: absolute;
	top:96px;
	left: -112px;
	background: rgba(0,0,0,0.5);
	color: white;
	line-height: 46px;
	text-align: left;
	padding: 0px 10px 0px 10px;
	z-index: 3;
}

.head .zi .zi1 .zi111 span{
	float: right;
}
.head .zi1 .zi11-1 .zi111 .zi111-11:hover .zi1111{
	display: block;
}
.head .zi .zi1 .zi111 .zi111-1 .zi1111{
	display: none;
	width: 235px;
	height: 460px;
	position: absolute;
	top: 0px;
	left: 246px;
	padding: 0px 10px 0px 10px;
	border: 1px solid #E0E0E0;
}
.head .zi .zi1 .zi111 .zi111-1 .zi1111 .zi1111-1{
	width: 235px;
	height: 50px;
	line-height: 50px;
}
.head .zi .zi1 .zi111 .zi111-1 .zi1111 .zi1111-1 img{
	float: left;
	width: 40px;
	height: 40px;
	margin-right: 20px;
}
.head .zi .zi1 .zi111 .zi111-1 .zi1111 .zi1111-1 button{
	float: right;
	width: 60px;
	height: 25px;
	border: 1px solid red;
	background: transparent;
	margin-top: 10px;
}
.head .zi1 .zi11 .zi112{
	position: absolute;
	width: 100%;
	height: 235px;
	left: 0px;
	top: 136px;
	display: none;
	background: white;
	
}
.head .zi1 .zi11 .zi112 .zi112-1{
	width: 1200px;
	height: 235px;
	margin: 0 auto;
	
}
.head .zi1 .zi11-2:hover .zi112{
	display: block;
}
.head .zi1 .zi11 .zi112 .zi112-1 .zi112-11{
	widows: 200px;
	height: 235px;
	float: left;
	padding: 0px 60px 0px 50px;
}
.head .zi1 .zi11 .zi112 .zi112-1 .zi112-11 .flag{
	display: inline-block;
	width: 65px;
	height: 20px;
	border: 1px solid #FF6700;
	margin: 0 auto;
	color: #FF6700;
	font-size: 8px;
	text-align: center;
	line-height: 20px;
}
.head .zi1 .zi11 .zi112 .zi112-1 .zi112-11 .flagimg{
	width: 85px;
	height: 100px;
	margin-top: -20px;
	
}
.head .zi1 .zi11 .zi112 .zi112-1 .zi112-11 img{
	width: 85px;
	height: 100px;
	
	
}
.head .zi1 .zi11 .zi112 .zi112-1 .zi112-11 .flagzi{
	width: 65px;
	height: 20px;
	margin: 0 auto;
	font-size: 6px;
	text-align: center;
	line-height: 20px;
	margin-top: 20px;
	
}
.head .zi1 .zi11 .zi112 .zi112-1 .zi112-11 .flagjg{
	width: 65px;
	height: 20px;
	margin: 0 auto;
	font-size: 6px;
	text-align: center;
	line-height: 20px;
	color: #FF6700;
}
.head-ss{
	width: 300px;
	height: 56px;
	float: left;
	margin-top: 20px;
}
.head .ssk{
	width: 243px;
	height: 54px;
	border: 1px solid #E0E0E0;
	float: left;
}
.head .tj{
	width: 55px;
	height: 56px;
	border: 1px solid #E0E0E0;
	float: right;
	background: url(../img/TJ.png)no-repeat 10px 10px;
	background-size: 30px 30px;
}
.head .tj:hover{
	background-color: #FF6700;
}
.banner{
	width: 100%;
	height: 500px;
	position: relative;
}
.banner .banners{
	width: 1226px;
	height: 460px;
	margin: 0 auto;
	overflow: hidden;
}
.banner #next{
	position: absolute;
	z-index: 3;
	top: 180px;
	left: 310px;
	text-decoration: none;
	font-size: 40px;
	color: #E0E0E0;
}
.banner #pre{
	position: absolute;
	z-index: 3;
	top: 180px;
	left: 1255px;
	text-decoration: none;
	font-size: 40px;
	color: #E0E0E0;
}
.middle{
	width: 1230px;
	height: 170px;
	margin: 0px auto;
}
.middle .middle1{
	width: 234px;
	height: 170px;
	float: left;
}
.middle .middle1 .middletop1{
	width: 234px;
	height: 85px;
	background: #5F5750;

}
.middle .middle1 .middletop11{
	width: 77px;
	height: 83px;
	float: left;
	border-radius: 10px;
	border-right: 1px solid #665E57;
	border-bottom: 1px solid #665E57;

}
.middle .middle1 .middletop113{
	border-right: none;
}
.middle .middle1 .middledown11{
	width: 77px;
	height: 83px;
	float: left;
	border-radius: 10px;
	border-right: 1px solid #665E57;

}
.middle .middle1 .middledown113{
	border-right: none;
}
.middle .middle1 .middledown1{
	width: 234px;
	height: 85px;
	background: #5F5750;
}
.middle .middle2{
	width: 316px;
	height: 170px;
	float: left;
	margin-left: 16px;
}
.middle .middle2 img{
	width: 316px;
	height: 170px;	
}
.middlea{
	width: 1226px;
	height: 58px;
	margin: 0px auto;
	margin-top: 20px;
}
.middlea .middlea1{
	width: 200px;
	height: 58px;
	font-size: 22px;
	color: #333333;
	line-height: 58px;
	float: left;

}
.middlea .middlea2{
	width: 70px;
	height: 24px;
	float: right;
	margin-top: 17px;
}
.middlea .middlea2 #nexta{
	width: 33px;
	height: 24px;
	float: left;
	border: 1px solid #E0E0E0;
	text-align: center;
	color: #B0B0B0;
	font-weight: 200;
	font-size: 18px;
}
.middlea .middlea2 #prea{
	width: 33px;
	height: 24px;
	float: right;
	border: 1px solid #E0E0E0;
	border-left: none;
	text-align: center;
	color: #B0B0B0;
	font-weight: 200;
	font-size: 18px;
}
.slide{
	width: 1226px;
	height: 340px;
	margin: 0 auto;
	overflow: hidden;
}
.slide .slidea{
	width: 1226px;
	height: 340px;	
}
.slide .slide11{
	width: 1226px;
	height: 340px;	
}
.slide .slide11-1{
	width: 234px;
	height: 340px;	
	float: left;
	margin-left: 14px;
	background: #FAFAFA;
	text-align: center;
	border-top: 1px solid #FFAC13;
}
.slide .slide11-11{
	margin-left: 0px;
}
.slide .slide11-1 img{
	width: 160px;
	height: 160px;
}
.slide .slide11-1 .slidet{
	width: 234px;
	height: 160px;
	margin-top: 40px;
}
.slide .slide11-1 .slidep1{
	width: 234px;
	height: 20px;
	color: #212121;
	font-size: 14px;
	margin-top: 30px;
}
.slide .slide11-1 .slidep2{
	width: 234px;
	height: 20px;
	color: #B0B0B0;
	font-size: 12px;
	margin-top: 5PX;
}
.slide .slide11-1 .slidep3{
	width: 234px;
	height: 20px;
	color: #FF6700;
	font-size: 14px;
	margin-top: 20px;
}
.center{
	width: 100%;
	height: 1150px;
	margin: 40px auto;
	background: #F5F5F5;
}
.centera{
	width: 1226px;
	height: 58px;
	padding-top: 60px;
	margin: 0 auto;
}
.centera h2{
	float: left;
	font-size: 22px;
	color: #333;
}
.centera ul{
	float: right;
}
.centera ul li{
	float: left;
	color: #424242;
	margin-left: 30px;
}
.centera ul li:hover{
	color: #ff6700;
	border-bottom: 2px solid #ff6700;
}
.centerb{
	width: 1226px;
	height: 628px;
	margin: 0 auto;
}
.centerb ul{
	width: 1240px;
	height: 614px;
	margin-left: -14px;
}
.centerb ul li{
	width: 234px;
	height: 614px;
	float: left;
	margin-left: 14px;
}

.centerb .centerb1{
	width: 234px;
	height: 300px;
	background: white;
}
.centerb .centerb1 .p1{
	width: 60px;
	height: 20px;
	background: #E53935;
	color: white;
	font-size: 12px;
	margin: 0 auto;
	text-align: center;
}
.centerb .centerb1 img{
	width: 150px;
	height: 150px;
	margin:15px 0px 0px 42px;
}
.centerb .centerb1 h3{
	font-size: 14px;
	color: #333;
	text-align: center;
	font-weight: normal;
	margin-top: 25px;
}
.centerb .centerb1 .p2{
	font-size: 12px;
	color: #B0B0B0;
	text-align: center;
}
.centerb .centerb1 .p3{
	font-size: 14px;
	color: #B0B0B0;
	text-align: center;
	margin-top: 15px;
}
.centerb .centerb1 .p3 span{
	color: #FF6700;
}
.centerb .centerb1 .p3 del{
	text-decoration: line-through;
}
.centerb .centerb2{
	width: 234px;
	height: 300px;
	margin-top: 14px;
}
.centerb .centerb2 .p1{
	width: 60px;
	height: 20px;
	background: #E53935;
	color: white;
	font-size: 12px;
	margin: 0 auto;
	text-align: center;
}
.centerb .centerb2 img{
	width: 150px;
	height: 150px;
	margin:15px 0px 0px 42px;
}
.centerb .centerb2 h3{
	font-size: 14px;
	color: #333;
	text-align: center;
	font-weight: normal;
	margin-top: 25px;
}
.centerb .centerb2 .p2{
	font-size: 12px;
	color: #B0B0B0;
	text-align: center;
}
.centerb .centerb2 .p3{
	font-size: 14px;
	color: #B0B0B0;
	text-align: center;
	margin-top: 15px;
}
.centerb .centerb2 .p3 span{
	color: #FF6700;
}
.centerb .centerb2 .p3 del{
	text-decoration: line-through;
}
.centerb .centerb2 .centerb21{
	width: 234px;
	height: 143px;
	background: white;
}
.centerb .centerb2 .centerb21 h3{
	float: left;
	margin:40px 0px 0px 20px;
}
.centerb .centerb2 .centerb21 h3 span{
	color: #FF6700;
}
.centerb .centerb2 .centerb21 img{
	width: 80px;
	height: 80px;
	float: right;
	margin:30px 20px 0px 0px;
}
.centerb .centerb2 .centerb22{
	margin-top: 14px;
	background: white;
}
.centerb .centerb20{
	background: white;
}
.foot{
	width: 1226px;
	height: 80px;
	margin: 0 auto;
	margin-top: 100px;
	line-height: 80px;
	border-bottom: 1px solid #E0E0E0;
}
.foot .foot1{
	width: 1226px;
	height: 32px;
	margin-top: 24px;
}
.foot .foot1-1{
	height: 32px;
	float: left;
	padding: 0px 54px 0px 54px;
	border-right: 1px solid #E0E0E0;
}
.foot .foot1-11{
	border: none;
}
.foota{
	width: 1226px;
	height: 192px;
	margin: 0 auto;
	margin-top: 10px;
}
.foota .foot2{
	width: 160px;
	height: 112px;
	float: left;
	line-height: 30px;
}
.foota .foot2 dt{
	font-size: 14px;
	color: #42424;
	line-height: 4.25;
}
.foota .foot2 dd{
	font-size: 12px;
	color: #42424;
}
.foota .contact{
	width: 252px;
	height: 140px;
	float: left;
	border-left: 1px solid #E0E0E0;
	margin-top: 10px;
}
.foota .contact .phone{
	width: 252px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 22px;
	color: #FF6700;
}
.foota .contact .day1{
	width: 252px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
}
.foota .contact .kf{
	width: 252px;
	height: 50px;
	text-align: center;
	line-height: 50px;
}
.foota .contact .kf img{
	width: 125px;
	height: 34px;
	margin-top: 16px;
}
.footb{
	width: 1366px;
	height: 200px;
	background: #fafafa;
}
.footb .foot3{
	width: 1226px;
	height: 57px;
	margin: 0 auto;
	padding-top: 40px;
}

.footb .foot3-1{
	width: 57px;
	height: 57px;
	float: left;
}
.footb .foot3-2{
	width: 749px;
	height: 54px;
	float: left;
	margin-left: 5px;
}
.footb .foot3-3{
	width: 375px;
	height: 28px;
	float: left;
}
.footb .foot5{
	width: 375px;
	height: 28px;
	margin: 0 auto;
	margin-top: 30px;
}
.footb .foot4-1{
	width: 85px;
	height: 28px;
	float: left;
	padding: 0px 4px 0px 4px;
}
.footb .foot4-1 img{
	width: 85px;
	height: 28px;
}
.footb .foot3-21{
	width: 749px;
	height: 18px;
}
.footb .foot3-22{
	width: 749px;
	height: 18px;
	font-size: 12px;
	color: #757575;
}
.footb .foot3-23{
	width: 749px;
	height: 18px;
	font-size: 12px;
	color: #757575;
}
.footb .foot3-31{
	float: left;
	font-size: 12px;
	color: #757575;
	padding: 0px 4px 0px 4px;
	border-right: 1px solid #E0E0E0;
}
.footb .foot3-311{
	border: none;
}
.centerc{
	width: 1226px;
	height: 58px;
	margin: 20px auto;
}
.centerc h2{
	font-size: 22px;
	color: #333;
	font-weight: normal;
	float: left;
}
.centerc h3{
	font-size: 18px;
	color: #333;
	font-weight: normal;
	float: right;
}
.centerd{
	width: 1226px;
	height: 285px;
	margin: -40px auto;
}
.centerd ul{
	width: 1240px;
	height: 285px;
	margin-left: -14px;
}
.centerd ul li{
	width: 296px;
	height: 285px;
	float: left;
	margin-left: 14px;
	position: relative;
}
.centerd .centerd1{
	width: 296px;
	height: 105px;
	background: white;
	margin-top: -5px;
}
.centerd .centerd1 h3{
	font-size: 14px;
	font-weight: normal;
	color: #333333;
	text-align: center;
	padding-top: 40px;
}
.centerd .centerd1 p{
	font-size: 12px;
	font-weight: normal;
	color: #B0B0B0;
	text-align: center;
	margin-top: 10px;
}
.centerd .centerd2{
	width: 35px;
	height: 21px;
	border-radius: 12px;
	border: 2px solid white;
	position: absolute;
	top: 145px;
	left: 20px;
}
.centerd .centerd2 img{
	width: 15px;
	height: 15px;
	margin: 3px 0px 0px 10px;
	
}
