<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <title>疾病查询</title>
    <link rel="stylesheet/less" href="css/sick.less">
    <script src="css/bower_components/less/dist/less.js"></script>
    <script src="js/bower_components/angular/angular.js"></script>
</head>
<body ng-controller="myCtrl">
    <ul class="typeContainer">
        <li ng-repeat="info in typeList" ng-bind="info.typeName" ng-click="toSubType(info)"></li>
    </ul>
    <ul class="subContainer">
        <li ng-repeat="info in subTypeList" ng-bind="info.subName"></li>
    </ul>
<script src="js/sickctrl.js"></script>
<script src="js/sick.js"></script>
</body>
</html>