*{
	margin: 0;
	padding: 0;
	/*list-style: none取消ul(ol)>li前面的小点;text-decoration: none取消下划线;*/
	list-style: none;
}
.top{
	width: 100%;
	height: 35px;
	background: #F7F7F7;
	border-bottom: 1px solid #CCCCCC;
}
.top1{
	width: 500px;
	height: 35px;
	margin-left: 800px;
}
.top .top1 ul li{
	/*每个li代表一个小块,可浮动*/
	font-size: 13px;
	font-family: "微软雅黑";
	color: #808080;
	float: left;
	margin-left: 15px;
	margin-top: 8px;
}
.sousuo{
	width: 600px;
	height: 70px;
	margin-left: 750px;
	
}
.sousuo .sg{
	width: 600px;
	height: 35px;
	margin-top: 30px;
}
.sousuo .sg .sg1{
	width: 355px;
	height: 33px;
	border: 1px solid #C9CACA;
	float: left;
	margin-left: 40px;
}
.sousuo .sg .sg1 input{
	width: 280px;
	height: 29px;
}
.sousuo .sg .sg1 #zi{
	width: 71px;
	height: 33px;
	/*水平居中*/
	text-align: center;
	/*竖直居中*/
	line-height: 30px;
	background-color: #B71A21;
	/*行状元素无法设置宽高，可以用display：block块状显示*/
	display: block;
	float: right;
	color: white;
}
.sousuo .sg .gw{
	width: 110px;
	height: 35px;
	text-indent: 30px;
	line-height: 35px;
	float: right;
	/*background: url(../img/lcq-fk-005.png) no-repeat #B71A21;背景和颜色融合*/
	background: url(../img/lcq-fk-005.png) no-repeat;
	background-color: #B71A21;
	margin-right: 70px;
	
}
.sousuo .rmss{
	width: 560px;
	height: 30px;
	margin-top: 5px;
	margin-left: 40px;
}

.sousuo .rmss .rmss-1{
	font-size: 13px;
	font-family: "微软雅黑";
	color: #808080;
	float: left;
	margin-left: 15px;
}
.sousuo .rmss .rmss-1-1{
	margin-left: 0px;
}
.nav{
	width: 1220px;
	height: 46px;
 	margin: 0 auto;
 }
 .nav .logo{
 	width: 185;
 	height: 46px;
 	float: left;
 }
 /*nav1是10个单独的盒子,所以需要左飘*/
 .nav .nav1{
 	width: 101.5px;
 	height: 24px;
 	float: left;
 	ont-size: 17px;
	font-family: "微软雅黑";
	color: #808080;
	text-align: center;
 	line-height: 24px; 	
 	margin-top: 22px;
 	border-right: 2px solid #808080;
 	
 }
 .nav .nav1 ul{
 	margin-top: 5px;
 }
 .nav .nav1-10{
 	border-right: none;
 		
 }
 .nav .nav1:hover{
 	color: #B71A21;
 	border-bottom: 5px solid #B71A21;
 }
 .nav .nav1-1:hover{
 	border-bottom: 0;
 }

 .nav .nav1 .nav2{
  	width: 101.5px;
 	height: 40px;
 	/*消除2级菜单错位*/
 	margin-left: -1px;
 	font-size: 17px;
	font-family: "微软雅黑";
	color: #727271;
	background-color: white;
	text-align: center;	
 	border-right: 1px solid #F7F7F7;
 	border-left: 1px solid #F7F7F7;
 	display: none;
 	
 }

 }
 .nav .nav1 .nav2-10{
 	border-bottom: 1px solid #F7F7F7;
 }
 .nav .nav1 .nav2:hover{
 	color: #B71A21;
 }
 .nav .nav1:hover .nav2{
 	display: block;
 }
.banner{
	width: 1200px;
	height: 535px;
	margin: 0 auto;
	margin-top: 20px;
}
/*由于直接插得图片（js好控制）,所以需要设置位置绝对，如果插背景图（好操作，js不好控制）是没有问题的*/
.nav .nav1 ul{
	position: absolute;
}
.chongzhi{
	width: 1200px;
	height: 40px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 20px;
}
.tuijian{
	width: 1200px;
	height: 100px;
	margin: 0 auto;
    text-align: center;
    line-height: 100px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #9A9A9A;    
}
.Beyond{
	width: 1200px;
	height: 510px;
	margin: 0 auto;
}
.Beyond .yundongfu{
	width: 590px;
	height: 510px;
	float: left;
}
.Beyond .yundongfu .yundongfuwz{
	width: 588px;
	height: 69px;
	font-size: 16px;
	border-bottom: 1px solid #E8E7EC;
	border-left: 1px solid #E8E7EC;
	border-right: 1px solid #E8E7EC;
	margin-top: -4px;
	line-height: 69px;
	/*text-indent: 20px;字体缩进，和padding-left功能类似*/	
}
.Beyond .yundongfu .yundongfuwz .yundongfumz{
	float: left;
	padding-left: 20px;
}
.Beyond .yundongfu .yundongfuwz .yundongfujg{
	float: right;
	padding-right: 20px;
}
.Beyond .kaishan{
	width: 290px;
	height: 510px;
	float: left;
	margin-left: 17px;
}
.Beyond .kaishan .kanshans{
	width: 290px;
	height: 250px;
}
.Beyond .kaishan .kanshans .kanshanswz{
	width: 288px;
	height: 70px;
	font-size: 14px;
	border-bottom: 1px solid #E8E7EC;
	border-left: 1px solid #E8E7EC;
	border-right: 1px solid #E8E7EC;
	margin-top: -4px;
	line-height: 69px;
}
.kanshansmz{
	float: left;
	padding-left: 10px;
}
.kaishansjg{
	float: right;
	padding-right: 10px;
	
}
.kanshanx{
	margin-top: 15px;
}
.weiyi{
	width: 286px;
	height: 510px;
	float: left;
	margin-left: 17px;
}
.weiyiwz{
	width: 284px;
	height: 69px;
	font-size: 14px;
	border-bottom: 1px solid #E8E7EC;
	border-left: 1px solid #E8E7EC;
	border-right: 1px solid #E8E7EC;
	margin-top: -4px;
	line-height: 69px;
}
.Beyond .weiyi .weiyiwz .weiyimz{
	float: left;
	padding-left: 10px;
}
.Beyond .weiyi .weiyiwz .weiyijg {
	float: right;
	padding-right: 10px;
	
}
.Beyond2{
	margin-top: 20px;
}
.Beyond3{
	margin-top: 20px;
}
.Beyond4{
	margin-top: 20px;
}
.jingxuan{
	width: 1200px;
	height: 40px;
	margin: 0 auto;
	margin-top: 40px;
}
.Beyond5{
	margin-top: 20px;
}
.Beyond6{
	margin-top: 20px;
}
.Beyond7{
	margin-top: 20px;
}
.Beyond8{
	margin-top: 20px;
}
.kuzi{
	width: 1200px;
	height: 510px;
	margin: 0 auto;
	margin-top: 20px;
}
.kuzi .kuzi1{
	width: 285px;
	height: 510px;
	float: left;
}
.kuzi .kuzi1 .kuzi1wz{
	width: 273px;
	height: 71px;
	font-size: 14px;
	border-bottom: 1px solid #E8E7EC;
	border-left: 1px solid #E8E7EC;
	border-right: 1px solid #E8E7EC;
	margin-top: -4px;
	line-height: 71px;
	padding-left: 10px;
}
.kuzi .kuzi1 .kuzi1wz span{
	float: right;
	margin-right: 10px;
}
.kuzi1-1{
	margin-left: 20px;
}
.kefu{
	width: 1198px;
	height: 284px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 20px;
	border: 1px solid #E8E7EC;
}
.kefu .rengong{
	width: 1120px;
	height: 140px;
	margin: 0 auto;
}
.kefu .rengong .rengong1{
	width: 372px;
	height: 140px;
	margin: 0 auto;
	float: left;
	border-right: 1px solid #E8E7EC;
}
.kefu .rengong .rengong1 .rengong1t{
	width: 42px;
	height: 42px;
	margin: 0 auto;
	margin-top: 22.5px;
}
.kefu .rengong .rengong1 .rengong1z{
	width: 156px;
	height: 32px;
	margin: 0 auto;
	text-align: center;
	line-height: 32px;
	background: #B81C22;
	margin-top: 27.5px;
	color: white;
	
}
.kefu .rengong .rengong1-1{
	border-right: none;
}
.kefu .rengong .rengong1 .rengong1zz{
	width: 156px;
	height: 21px;
	margin: 0 auto;
	text-align: center;
	margin-top: 20.5px;
	
}
.kefu .rengong .rengong1-1 .rengong1tt{
	width: 100px;
	height: 100px;
	margin: 0 auto;
	
}
.kefu .rengong .rengong1-1 .rengong1tt img{
	width: 100%;
}
.kefu .rengong .rengong1-1 .rengong1zzz{
	width: 156px;
	height: 40px;
	margin: 0 auto;
	text-align: center;
	line-height: 40px;
	
}
.wenzi{
	width: 1120px;
	height: 56px;
	margin: 0 auto;
	background: #F8F8F8;
	margin-top: 44px;
}
.wenzi .wenzi1{
	width: 185.8px;
	height: 26px;
	float: left;
	text-align: center;
	line-height: 26px;
	border-right: 1px solid #E8E7EC;
	margin-top: 15px;
}
.wenzi .wenzi1-6{
	border-right: none;
}
.xian{
	width: 100%;
	height: 9px;
	border-top: 1px solid black;
}
.jieshuz{
	width: 1200px;
	height: 60px;
	margin: 0 auto;
}
.jieshuz p{
	margin-top: 9px;
	text-align: center;
	line-height: 21px;
	font-size: 13px;
}
.jieshut{
	width: 780px;
	height: 50px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 20px;
}
.jieshut .jieshut1{
	float: left;
	margin-left: 20px;
}
