.a {
  width: 10rem;
  height: 5rem;
  background-color: #ff9421;
}
.b {
  width: 10rem;
  height: 7rem;
  background-color: #ff9421;
}
.c {
  width: 10rem;
  height: 9rem;
  background-color: #ff9421;
  color: #2937ff;
}
.d {
  width: 10rem;
  height: 11rem;
  background-color: #ff9421;
}
