*{
	margin: 0;
	padding: 0;
}
.baiopan{
	width: 300px;
	height: 300px;
	border: 1px solid red;
	margin: 0 auto;
	margin-top: 50px;
	background: url(../img/clock.jpg)no-repeat center center;
	position: relative;
}
#miao{
	width: 5px;
	height: 120px;
	background: black;
	border-radius: 3px 3px 0 0;
	position: absolute;
	left: 150px;
	top: 30px;
}
#fen{
	width: 5px;
	height: 80px;
	background: green;
	border-radius: 3px 3px 0 0;
	position: absolute;
	left: 150px;
	top: 70px;
}
#shi{
	width: 5px;
	height: 40px;
	background: red;
	border-radius: 3px 3px 0 0;
	position: absolute;
	left: 150px;
	top: 110px;
}
#dian{
	width: 8px;
	height: 8px;
	background: red;
	border-radius: 4px 4px 4px 4px;
	position: absolute;
	left: 148px;
	top: 148px;
}